/Calculator/nbproject/private/
/Calculator/build/
/Circle/nbproject/private/
/Circle/build/
/Inheratence/nbproject/private/
/JavaApplication47/nbproject/private/
/Singleton/nbproject/private/
/Singleton/build/
/Zoo/nbproject/private/
/Zoo/build/
/Facade Example/nbproject/private/
/Facade Example/build/