/Calculator/nbproject/private/
/Calculator/build/
/Circle/nbproject/private/
/Circle/build/
/Inheratence/nbproject/private/
/JavaApplication47/nbproject/private/
/Singleton/nbproject/private/
/Singleton/build/